template(name="ooModal")
  if innerContent
    div(oo-Modal="{{oo}}" id="{{id}}")
      .oo-Modal-content(oo-Color="{{ooColor}}")
        +Template.dynamic template=modalTemplate
    if backdrop
      .ooModal--Backdrop.no-drag.no-whee
  else
    div(oo-Modal="{{oo}}" id="{{id}}" oo-Color="{{ooColor}}")
      +Template.dynamic template=modalTemplate
    if backdrop
      .ooModal--Backdrop.no-drag.no-wheel

template(name="ooModalScroll")
  .XXmodal(id="{{id}}")
    if backdrop
      .no-drag.no-wheel.oo-Modal-Content-Backdrop(oo-Modal-Content-Backdrop="{{ooBackdrop}}")
    +ooNativeScroller oo=ooScroller
      div(oo-Modal-Content="{{oo}}" oo-Color="{{ooColor}}")
        +Template.dynamic template=modalTemplate
